body
{
    width: 100%;
    margin: 0 auto;
}

.container
{
    width: 50%;
    margin: 0 auto;
}

.enemy,
.battle,
.kingdom
{
    width: 100px;
    height: 50px;
    border:1px solid #000;
    margin: 10px;
}

.enemy span,
.battle span,
.kingdom span,
.elfs,
.orks,
.hobbits
{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-top: 16px; 
}

.battle
{
    margin: 0 auto;
}

.enemy,
.kingdom
{
    display:inline-block;
    width: 46%;
}
